<!doctype html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="css/bootstrap.css">

</head>
<body>

	<div class="container">
		<div class="row">
				<h1 class="display-1 text-center">******* || STORY SHOP || ********</h1> 
		</div>
	</div>
	




	{{{ body }}}
	
<div class="container">

	<div class="row">
		<div class="btn"></div>
	</div>
	<div class="row">
		<button class="btn btn-danger btn-lg">
			<a href="/storybooks">STORYBOOKS</a>
		<button>
		
		<button class="btn btn-danger btn-lg">
			<a href="/mystories">MY STORIES</a>
		</button>
		
		<button class="btn btn-danger btn-lg">
			<a href="/allimages">ALL IMAGES</a>
		</button>
		
		<button class="btn btn-danger btn-lg">
			<a href="/create">CREATE IMAGES</a>
		</button>
		
		<button class="btn btn-danger btn-lg">
			<a href="/login">LOG IN</a>
		</button>
		
		<button class="btn btn-danger btn-lg">
			<a href="/register">REGISTER</a>
		</button>
		
		<button class="btn btn-danger btn-lg">
			<a href="/logout">LOG OUT</a>
		</button>
	</div>
</div>

	

	<script src="https://unpkg.com/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
  	<script src="js/bootstrap.js"></script>
	
</body>
</html>
