

<div class="container">
    <div class="row">
        <h1 class="display-1 text-center">LOGIN </h1>
    </div>

    <div class="row">
        <h3 class="display-2 text-center">{{notLockedInYet}} </h3>
    </div>

    <div class="row">
        <h3 class="display-2 text-center">{{failed}} </h3>
    </div>


</div>
<div class="container-sm">
    
    <form method='POST' >
        <div class="row">
            <h2 class="display-2">USERNAME: <input type="text" name="username"> </h2>
        </div>
        <div class="row">
            <h2 class="display-2">PASSWORD: <input type="password" name="password"></h2>   
        </div>
        <div class="row">
            <button type="submit" class=" btn-warning btn-lg btn-center"><h2 class="display-2 ">LOGIN</h2></button>
        </div>
       
    </form>
</div>

