

<div class="container">
    <div class="row">
        <h1 class="display-1 text-center">LOGOUT </h1>
    </div>
    <div class="row">
        <h2 class="display-2 text-center">You are logged out! </h2>
    </div>
     <div class="row">
        <h2 class="display-2 text-center">Please go to Log In page! </h2>
    </div>

</div>